# Binaries for programs and plugins
vframes

# Ignore binary output folders
tmp/

# Ignore common editor/system specific metadata
.DS_Store
.vscode/
docs/

# ENV
.env
Makefile

# Local databases
*.db

# Reserved files
TODO.md